h1{
    color: red;
    font-size: 100px;
    padding: 10px;
}

body{
    background-image: url(anhnen.jpg);
    background-size: cover;
}
.classSelector{
    font-size: 50px;
    color :yellow;
    
}
#idSelector{
    font-size: 50px;
    color: white ;
}

button:hover{
    color: crimson;
    background-color: skyblue
}
